.projects-main {
    min-height: 100vh;
}

.card {
    align-items: center;
    padding: 4%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-weight: bold;
    color: #1f2235;
}

.btn-primary {
    background-color:#1f2235;
    border: #1f2235;

}

.btn-primary.focus, .btn-primary:focus {
    background-color: #ff5823;
    border: #1f2235;
}

.btn-primary.hover, .btn-primary:hover {
    background-color: #ff5823;
    border: #1f2235;

}

